.cards-of-posts{
    margin: 5rem auto 3rem auto;
    border-radius: 0.2rem;
    width: 80%;
    height: 20rem;
    background: white;
    border: 1px solid #B4B4B3;
    color: #7A7A7A;
    box-shadow: 0rem 0.3rem 0.5rem #888888;
    .post-time{
        margin: 1rem 1rem 0rem 0rem;
        text-align: right;
        color: #7a7a7a;
        font-size: 1rem;
    }
    .post-author{

    }
    .post-title{

    }
    .post-body{

    }
}

.list-cards{
    list-style-type: none;
}
